
!.env.example
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
# IDE
# debug
# dependencies
# env
# misc
# next.js
# production
# typescript
*.pem
*.tsbuildinfo
.DS_Store
._*
.env*
.idea/
.next
.playwright-mcp/
.pnp.*
.pnpm-debug.log*
.vscode/
.yarn/*
/.next/
/.pnp
/build
/node_modules
/out/
next-env.d.ts
npm-debug.log*
yarn-debug.log*
yarn-error.log*
